
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Slabo+27px&display=swap');

:root {

    --cor1: #374e60 ;
    --cor2: #0c40c4;
    --cor3: #a9d7ff;
    --cor4: #282941;
    --cor5: #6e9ac1;
    --cor-branca: #deeffd;

    --fonte-padrao: arial,verdana,sans-serif;
    --fonte-destaque: "DM Serif Display", serif;
    --fonte-periferica: "Slabo 27px", serif;
}

* {
    margin: 0px;
    padding: 0px;
    font-family: var(--fonte-padrao);

}

 body {
    background-color:var(--cor1);
    display: flex;
    justify-content: center;
    align-items: center;
    
   
}

/* background-color: var(--cor5); */

header {
    
    background-image: linear-gradient(to bottom , #6e9ac1 , #354c5e );
    width: 100%;
}

header h1 {
 text-align: center;
 margin: auto;
 padding: 20px;
 color: var(--cor-branca);
 text-shadow: 2px 2px 1px rgba(0, 0, 0, 0.247);
 margin-bottom: 0px;
 font-size: 2em;
 background-image: linear-gradient(to bottom , #6e9ac1 , #374e60 );

 
}


menu {
    display: none;
}

menu ul {
    list-style-type: none;
   
}
 
   
header a {
    display: block; 
    text-decoration: none ;
   color: var(--cor-branca);
   text-align: center;
   background-color: #5e84a6;
   border-top: 2px solid rgba(169, 215, 255, 0.315);
   font-weight: bold;
   
       
}

header a:hover {
    background-color: var(--cor-branca);
    color: var(--cor4);
}

i#menu {
    display: block;
    background-color: #48657e;
    text-align: center;
    color: var(--cor-branca);
}

i#menu:hover {
    background-color: var(--cor-branca);
    color: var(--cor4);
    cursor: pointer;
}

main {
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 5px;
    margin: auto;
    width: 83vw;
   display: flex;
   flex-direction: column;
   align-items: center;
    justify-content: center;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.263);
    margin-top: 30px;
}

main h2 {
    padding: 10px;
    margin-bottom: 15px;
    text-shadow: 1px 0px 0px rgba(0, 0, 0, 0.2);
    font-size: 1.2em;
    color: var(--cor4);
    font-family: var(--fonte-padrao);
    
}

 p {
    line-height: 1.5;
    margin-bottom: 10px;
    padding: 8px;
    text-indent: 25px;
    text-align: justify;
    
}

.box-to-time {
   
    margin-bottom: 30px;
    background-color: var(--cor5);
    padding: 15px;
    border-radius: 10px;
    height: 10px;
    display: flex;
    justify-content: center;
    align-items: center;


}

.box-to-time p {
    color: var(--cor-branca);
    font-weight: bold;
    text-align: center;
    margin: 0px;
    padding: 0px;
    font-size: 1em;
}

.box-to-time span {
    font-size: 1em;
    margin-left: -5px; 
    font-weight: bold;
    color: #0a1c36;
}

img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
    /*width: 99%;*/
    width: 85%;
    flex: auto;
}

div.video {
    position: relative;
    background-color: var(--cor5);
    margin-bottom: 20px;
    padding: 10;
    margin: 0px -15px 30px -15px;
    padding-bottom: 58%;
}

div.video > iframe {
    position: absolute;

    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    width: 99%;
    height: 99% ;
    
}

p.detalhe {
    margin-top: 45px;
    margin-bottom: -1px;
    font-weight: 500;
    text-indent: 10px;
}

aside {
    background-color: var(--cor1);
    border-radius: 15px;
    padding: 15px;
    margin-bottom: 50px;
    
}

aside h3 {
    background-color: var(--cor3);
    color: var(--cor4);
    padding: 15px;
    border-radius: 10px 10px 0px 0px;
    margin:  -15px -15px 0px -15px;
    font-family: var(--fonte-periferica);
   
}

aside > ul {
    list-style-position: inside;
    columns: 2;
    margin: 12px;
    color: var(--cor-branca);
    
}

aside > li {
    text-align: justify;
   padding: 10px;
}

hr {
    margin: 7px;
}

.none {
  width: 0px;
  height: 0px;
}



.footer-clean {
    padding:  5px;
    background: #6b87a0;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    border-top: 1px solid #eaeaea;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.user-info p {
    margin: 0;
    font-size: 1.1rem;
    color: #151517;
}

.user-info span {
    font-size: 0.8rem;
    color: #86868b;
}

.social-group {
    display: flex;
    gap: 30px;
}

/* Links sem bordas ou caixas */
.nav-link {
    display: flex;
    align-items: center;
    gap: 8px;
    text-decoration: none;
    color: #0a1b2c;
    font-size: 0.8rem;
    font-weight: 800;
    transition: 0.2s;
}



.nav-link img {
    width: 24px;
    height: 24px;
    border-radius: 4px; /* Apenas para os ícones ficarem nítidos */
}

.nav-link:hover {
    color: #004499;
    opacity: 0.8;
}

.footer-bar p {
    font-size: 0.7rem;
    color: #10102c;
    font-weight: 700;
}

.highlight {
    font-size: .9em;
    color: #0066cc;
    font-weight: 800;
}

/* Mobile */
@media (max-width: 600px) {
    .footer-content {
        flex-direction: column;
        gap: 20px;
        text-align: center;
    }
}
span {
    font-size: 0.8em;
    margin-top: -10px;
    margin-bottom: 20px;
    padding-left: 15px;
}

span.voltar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    bottom: 20px;
    right: 20px;
    color: var(--cor-2);
    padding: 5px 13px;
    border-radius: 50%;
    font-size: 1.3em;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
    
}

strong.texto {
    color: #385367;
    padding: 2px;
}
